body{
    margin: 0;
    padding: 0;
}

.slide{
    width: 100vw;
    height: 100vh;
}

.wrapper {
    display: flex;
    flex-direction: row;
    width: 300vw;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
  }
.one{
    background: rgb(92,92,92);
    background: linear-gradient(90deg, rgba(92,92,92,1) 0%, rgba(135,135,135,1) 56%, rgba(164,164,164,1) 100%);
}
.two{
    background-color: #445C64;
}
.three{
    background-color: #765C64;
}

.outer-wrapper {
    width: 100vh;
    height: 100vw;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-y: scroll;
    overflow-x: scroll;
    position: absolute;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.navbar{
    position: fixed;
    left: 1%;
    top: 27%;
    z-index: 2;
    display: grid;
    justify-content: start;
    font-family: 'Special Elite', cursive;
    font-family: 'Zilla Slab Highlight', cursive;
    font-size: 60px;
}
.shrink{
    position: fixed;
    left: 1%;
    top: 40%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: start;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;  
}

#welcomeText{
    color: #f3f9a7;
}

#iAmText,#ivanText{
    color: rgb(228, 201, 253);
}
h1{
    position: absolute;
    color: #fff600; 
    top: 12%;
    font-family: 'Montserrat', sans-serif;
}
h5{
    color: #fff600;
}
p{
    left: -17%;
    position: absolute;
    width: 139%;
    color: rgb(197, 136, 255);
 }

#home{
    position: absolute;
    left: 1%;
    top: 12%;
}
#about{
    position: absolute;
    left: 34.4%;
}
#contact{
    position: absolute;
    left: 68%;
}

.carousel{
    display: flex;
    width: 82%;
    height: 50%;
    left: 16%;
    top: 8%;
}
#carouselExampleCaptions{
    display: flex;
    height: 150%;
}
footer{
    align-self: center;
    justify-content: center;
    background-color: #0000003b;
    position: absolute;
    width: 33.32%;
    bottom: 0%;
    height: 10%;
    color: #fff600;
}
#footer2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 3%;
    height: 100%;
    margin-left: 30.3%;
}
#parrafo{
    position: absolute;
    width: 11%;
    top: 20%;
    left: 42.3%;
}
#card{
    position: absolute;
    display: flex;
    width: 18%;
    top: 35%;
    margin: 0%;
    padding: 0%;
    left: 40%;
    font-size: 10px;
}
.form{
    display: flex;
    flex-direction: column;
    width: 55%;
    margin-left: 20%;
    margin-top: 20%;
}

#exampleModal{
    position: initial;
    z-index: 4;
}

a{
    color: rgba(255, 0, 0, 0);
}
a:hover{
   color: rgba(102, 51, 153, 0); 
}
.icons{
    
    display: flex;
    justify-content: flex-end;
    margin-top: 3%;
    margin-right: 5%;
    color: #fff600;
}
#icons2{
    display: flex;
    justify-content: flex-end;
    margin-top: 2%;
    margin-right: 7%;
    color: #fff600;
}

#icons3{
    display: flex;
    justify-content: center;
    margin-top: 10%;
    margin-right: auto;
    color: #fff600;
    flex-direction: column;
    margin-left: auto;
}

.btn-primary {
    color: #fff751;
    background-color: #765c64;
    border-color: #765c64;
}

.btn-primary:hover{
    border: #fff700ab;
    background-color: #fff700ab;
}
#copyright {
    left: -38%;
    bottom: 0%;
    margin-left: 39%;
    width: 100%;
}
#copyright2{
    left: 1%;
    bottom: 10%;
}

input,textarea{
    margin: 10px;
}
.card-text{
    left: 17%;
}
