/* Adding color to first section */
#one {
    background: rgb(92,92,92);
    background: linear-gradient(90deg, rgba(92,92,92,1) 0%, rgba(135,135,135,1) 56%, rgba(164,164,164,1) 100%);
}

/* Adding color to second section */
#two {
    background-color: #445C64;
}

/* Adding color to third section */
#three {
    background-color: #765C64;
}


/* General styling to our main section */
.content {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

/* Styling to each individual section */
.section {
    width: 100%;
    height: 100%;
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}

/* For hiding scoll bar */
 ::-webkit-scrollbar {
    display: none;
}
.navbar{
    position: fixed;
    width: 30%;
    z-index: 2;
}
.inicioText{
    display: flex;
    justify-content: start;
    font-family: 'Special Elite', cursive;
    font-family: 'Zilla Slab Highlight', cursive;
    font-size: 100px;
    margin-left: 30px;
}
#carousel{
    width: 60%;
    left: 60%;
    z-index: 1;
}

#welcomeText a{
    color: #f3f9a7;
}

#iAmText a,#ivanText a{
    color: rgb(228, 201, 253);
}

h1{
   color: #fff600; 
}

h5{
    color: #fff600;
}

p{
   color: rgb(197, 136, 255);
}

#carousel{
    width: 60%;
    margin-left: 20%;
}

#home,#contact{
    margin-bottom: 50%;
    margin-left: 5%;
}
#about{
    position: absolute;
    width: 15%;
    left: 105%;
    top: 21%;
}

#textAboutMe{
    width: 39%;
    position: absolute;
    left: 108%;
    top: 27%;
}
